@import "tailwindcss";

/* body{
    background-color: #fff ;
    color: black;
} */

.wrapper{
    margin: 0 20px;
}
.linkBtn{
    border-bottom: 1px solid #eef1f6;
}
/* .linkBtn:hover{
    background-color: #eef1f6;
} */

.callBtn:hover{
    background: #2F80ED;
    color: white;
}
.orderBtn:hover{
    background: #000;
}

.bottomSlice{
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: -100%;
    border-radius: 20px;
    background: #2f80ed;
    transition: 0.5s all;
}

.navLink:hover .bottomSlice{
    left: 0;
}
.navLink:active, .navLink:focus .bottomSlice{
    left: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
